.list {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}

.listitem {
  width: 500px;
  height: 50%;
  display: flex;
  justify-content: space-between;
  color: slategray;
}
.listitem:nth-child(2n) {
  background-color: slategray;
  color: white;
}
